src/main/mule/hello-child-pom.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5d5234f9-b956-476f-880f-87e9d6a9611a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-child-pomFlow" doc:id="0560acef-e349-4833-9cf6-0943535f1f53" >
		<http:listener doc:name="Listener" doc:id="cbd7cbdd-18bb-45a1-9532-708333d33669" config-ref="HTTP_Listener_config" path="/hello-child"/>
		<ee:transform doc:name="Transform Message" doc:id="f7dc5f61-1610-4e5e-b353-dc0d77f80d8b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"hello world"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80f01e45-7022-4119-9bd0-6af9d731740e" message="#[payload]"/>
	</flow>
</mule>
